Hi <strong><%=name.first%></strong>,<br><br>

Welcome to proyectName!<br>

<% if(registerConfirmation){ %>

To activate your account, please follow this link:<br>
<a href="<%=baseURL%>/activation/?email=<%=email%>&displayName=<%=name.first%>&activationHash=<%=activationHash%>"><%=baseURL%>/activation/?email=<%=email%>&displayName=<%=name.first%>&activationHash=<%=activationHash%></a>
<br><br>
<% } %>




Thanks for your registration.<br><br>

Best regards,<br><br>

proyectName Team.